<ion-header>
  <ion-toolbar>
    <ion-title>Bardecoder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <b>Test the barcode reader:</b>
    </ion-label>
  </ion-item>
  <!--<ion-button size="large" shape="round" (click)="shareTest()" >TestBarcode</ion-button> -->

  <ion-item>
    <ion-label>
      {{message2}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      {{message3}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      {{message4}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <b>{{message}}</b>
    </ion-label>
  </ion-item>
  

</ion-content>
